fastapi
uvicorn[standard]
python-dotenv
pydantic
requests
faster-whisper==1.2.0
whisperx==3.1.1
pyannote.audio==3.1.1
transformers[sentencepiece]==4.37.2
huggingface-hub==0.35.3
torch==2.2.2
torchaudio==2.2.2
hf_transfer
